@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&family=Tangerine:wght@400;700&display=swap');

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
.red-text-color{
    color: #691714!important;
}
.yellow-text-color{
    color: #F0F4C3;
}
/* Navigation */

nav{
    background-color: #9e9d24;
    overflow: hidden;
}
nav ul li a{
    font-size: 1.5rem;
    font-weight: 500;
}
a.brand-logo{
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 3px 3px 2px #474747;
}
.sidenav li a:hover{
    background-color: #f0f4c3!important;
}


/* Searchbar */

.searchbar{
    width: 100%; 
    height: 100px;
    background: url(/static/img/hero_salad.jpg)no-repeat center;
    background-size: cover;
}
.search{
    width: 80%;
    position: relative;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
input[type="text"].searchText{
    width: 90%;
    border: 1px solid #827717!important;
    border-right: none!important;
    border-radius: 1px 0 0 2px;
    padding: 10px;
    height: 20px;
    outline: none;
    color: #827717!important;
    background-color: #f9fbe7;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}
input[type="text"].searchText::placeholder{
    font-family: 'Tangerine', cursive;
    font-size: 2rem;
    font-weight: bold;
    color: #827717!important;
}
.searchButton{
    width: 10%;
    border: 1px solid #827717!important;
    border-radius: 0 2px 2px 0;
    height: 42px;
    outline: none;
    color: #f9fbe7!important;
    background-color:  #827717;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* Categories */

.categories{
    border: 1px solid #827717;
    margin-bottom: 2rem;
}
.categories-title-wrapper{
    width: 100%;
    margin-bottom: 1rem
}
.category-title{
    height: 50px;
    width: 24%;
    padding: 0 2px;
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;   
}
.border-bottom{
    height: 35px;
    border-bottom: 2px solid #9e9d24;
    width: 38%;  
}
.categories-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
  
}
.category-items{
    cursor: pointer;
}
.categories-wrapper img{
    display: block;
    padding-top: .5rem;
    margin-left: auto;
    margin-right: auto;
    width: 2rem;
}
.category-items h5{
    font-family: 'Tangerine', cursive;
    font-weight: 600;
    text-align: center;
    margin-top: 0;
}






/* Footer */

footer{
    width: 100%;
}
.footer-text{
    margin: 1rem;
}
h4{
    font-family: 'Tangerine', cursive;
    font-weight: bold;
}
.social-icons{
    margin-bottom: 1rem;
}
.fa-pinterest-square:before {
    content: "\f0d3";
    font-size: 2.5rem;
    margin-left: 0.5rem;
    text-shadow: 1px 1px #827717;
}
.fa-twitter-square:before {
    content: "\f081";
    font-size: 2.5rem;
    margin-left: 0.5rem;
    text-shadow: 1px 1px #827717;
}
.fa-instagram-square:before {
    content: "\f955";
    font-size: 2.5rem;
    margin-left: 0.5rem;
    text-shadow: 1px 1px #827717;
}
.fa-facebook-square:before {
    content: "\f082";
    font-size: 2.5rem;
    text-shadow: 1px 1px #827717;
}
.copyright{
    font-size: 0.75rem;
}

/* all recipes */

.card-image{
    height: 100%;
}
.card-image img{
    height: 60%;
}
.card-title{
    font-size: 1.5rem;
    font-weight: 500!important;
    padding-left: 5px;
}
div.card-content{
    padding: 0!important;
}

.card-times{
    display: flex;
    justify-content: start;
    align-items: flex-start;
}
.time{
    margin: 0.5rem;
}
.fas.fa-clock{
    font-size: 24px;
    padding: 0.5rem;
}
.level{
    margin: 0.5rem;
}
.card-times img{
    width: 20px;
    margin: 0.5rem;
}
.card-allergens{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: flex-start;
}
.card-allergens img{
    width: 20px;
}
.card-allergens-item{
    margin: 0.5rem;
}

/* Previous and Next button for all recipes (index)*/

.pagination,
.pagination a{
    color: #9e9d24;
}
.material-icons{
    vertical-align: middle;
}

/* Media queries */

@media only screen and (min-width: 992px) {

    .footer-text{
        margin: 1.7rem 1rem 1rem 1rem;
    }
    h4{
        font-size: 2.8rem;
    }
    .fa-pinterest-square:before {
        margin-left: 1rem;
    }
    .fa-twitter-square:before {
        margin-left: 1rem;
    }
    .fa-instagram-square:before {
       margin-left: 1rem;
    }

}

@media only screen and (max-width: 600px) {
    input[type="text"].searchText::placeholder{
    font-size: 1.3rem;
    padding: 5px;
    margin: 4px;
    
}
    .categories{
        display: none;
    }


}