{% extends 'base.html' %}

{% block title %}
    All Recipes
{% endblock title%}

{% block content %}

<h5 class="center red-text-color title-add-recipe">Add New Recipe</h5>
  <div class="row red-text-color">
    <form method="POST" action="{{url_for('insert_recipe')}}" class="col s12" >
        <div class="row">
            <div class="input-field col s12">
                <h6>Recipe Name</h6>
                <input id="recipe_name" type="text" class="validate" name="recipe_name" placeholder="* Please type a Recipe Name." required>  
            </div>

            <div class="input-field col s12">
                <h6>Upload your Recipe Image</h6>
                <input id="recipe_img" type="text" class="validate" name="recipe_img" placeholder="*Upload your Image" required>
            </div>

            <div class="input-field col s12">
                <h6>Recipe Description</h6>
                <input id="recipe_description" type="text" class="validate" name="recipe_description" placeholder="* Please type a short description" required>
            </div> 

            <div class="input-field col s12 add-category">
                <h6>Category Name</h6>
                <select id="category_name" name="category_name" required>
                    <option value="" disabled selected>* Choose Category</option>
                      {% for cat in categories %}
                      <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                      {% endfor %}
                </select>
            </div>

            
            <div class="input-field col s12 m6">
                <h6>Allergen free label</h6>
                <select multiple id="allergen_free_type" name="allergen_free_type" required>
                    <option value="" disabled selected>* Choose Label(s)</option>
                    {% for label in allergen_free %}
                    <option value="{{label.allergen_free_type}}">{{label.allergen_free_type}}</option>
                    {% endfor %}  
                </select>
            </div>

            <div class="input-field col s12 m6">
                <h6>Allergens</h6>
                <select multiple id="allergen_type" name="allergen_type">
                    <option value="" disabled selected>Choose Allergen(s):</option>
                    {% for al in allergens %}
                    <option value="{{al.allergen_type}}">{{al.allergen_type}}</option>
                    {% endfor %} 
                </select>
            </div>

            <div class="input-field col s12 m6">
                <h6>Recipe Preparation Time</h6>
                <input id="recipe_prep_time" type="text" class="validate" name="recipe_prep_time" placeholder="*Time to prepare" required>
            </div>

            <div class="input-field col s12 m6">
                <h6>Recipe Cook Time</h6>
                <input id="recipe_cook_time" type="text" class="validate" name="recipe_cook_time" placeholder="*Time to cook" required>
            </div>

            <div class="input-field col s12 m6">
                <h6>Recipe Serves</h6>
                <input id="recipe_serves" type="text" class="validate" name="recipe_serves" placeholder="*How many people does it serve?" required>
            </div>

            <div class="input-field col s12 m6">
                <h6>Recipe Difficulty</h6>
                <select id="recipe_level" name="recipe_level" required>
                    <option value="" disabled selected>* Choose Difficulty Level</option>
                    {% for le in skill_level%}
                    <option value="{{le.level}}">{{le.level}}</option>
                    {% endfor %}
                </select>
            </div>
         
            <div class="input-field col s12">
                <h6>Recipe Ingredients</h6>
                <input placeholder="*Eq: 1/2 cup fresh orange juice" id="recipe_ingredients" name="recipe_ingredients" type="text" class="validate" required>
            </div>
            <div class="col s12">
                <a class="btn lime darken-3 waves-effect waves-light" id="add_ingredient">Add another ingredient<i class="material-icons">add</i></a>
            </div>
    
            <div class="input-field col s12">
                <h6>Recipe Method</h6>
                <input placeholder="Preheat the oven..." id="recipe_method" name="recipe_method" type="text" class="validate" required>
            </div>             
        
            <div class="input-field col s12 m6">
                <h6>Recipe Stars</h6>
                <input id="rating" type="text" class="validate" name="rating" placeholder="* How many stars? From * to ***** " required>  
            </div>

            <div class="input-field col s12 m6">
                <h6>Recipe Date</h6>
                <input id="date" type="text" class="validate" name="date" placeholder="* Please type a Date like 2020/05/11." required>  
            </div>

            <div class="input-field col s12">
                <h6>Author Name</h6>
                <input id="author_name" type="text" class="validate" name="author_name" placeholder="* Please type the name of the author." required>  
            </div>
            
            <div class="col s12 center">
                <button class="center btn lime darken-3 waves-effect waves-light" type="submit">Add Recipe
                    <i class="material-icons right">playlist_add</i>
                </button>
            </div>
      </div>
    </form>
  </div>

{% endblock %}