{% extends 'base.html' %}

{% block title %}
    All Recipes
{% endblock title%}

{% block content %}

{% for recipe in recipe_info %}
<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image">
                <img src="{{recipe.recipe_img}}" alt="food"> 
            </div>

            <div class="card-title lime-text text-darken-4">{{recipe.recipe_name}}</div>
            <div class="card-content">
                <div class="card-times">
                    <div class="time">
                        <i class="fas fa-clock"></i>
                        <div class="time">{{recipe.recipe_time}}</div>                
                    </div>
                    <div class="level">
                        <img class="img-hat" src="{{url_for('static', filename='img/hat.png')}}" alt="hat">
                        <div class="level">{{recipe.recipe_level}}</div>                
                    </div>
                </div>
                <div class="card-allergens">
                    {% if recipe.allergen_type == 'Gluten-free' %}
                    <div>
                        <img src="{{url_for('static', filename='img/gluten-free.png')}}" alt="image gluten-free">
                        <div class="gluten-free">{{recipe.allergen_type}}</div>
                    </div>
                    {% endif %}
                    {% if recipe.allergen_type == 'Lactose-free' %}
                    <div>
                        <img src="{{url_for('static', filename='img/diet.png')}}" alt="image gluten-free">
                        <div class="gluten-free">{{recipe.allergen_type}}</div>
                    </div>
                    {% endif %}
                    {% if recipe.allergen_type == 'Vegetarian' %}
                    <div>
                        <img src="{{url_for('static', filename='img/vegetarian.png')}}" alt="image gluten-free">
                        <div class="gluten-free">{{recipe.allergen_type}}</div>
                    </div>
                    {% endif %}
                    {% if recipe.allergen_type == 'No-pork' %}
                    <div>
                        <img src="{{url_for('static', filename='img/pork.png')}}" alt="image gluten-free">
                        <div class="gluten-free">{{recipe.allergen_type}}</div>
                    </div>
                    {% endif %}
                
                </div>
            </div>
        </div>
    </div>
  </div>
  {% endfor %}

    
    {% for recipe in recipe_info %}
        {{recipe.recipe_name}}
        {{recipe.recipe_description}}
        {{recipe.category_name}}
    {% endfor %}

{% endblock %}