<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    <script src="https://kit.fontawesome.com/1c5b9f5e33.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body class="lime lighten-5">
     <header>
        <!-- Main navigation -->
        <nav>
            <div class="nav-wrapper">
            <a href="{{url_for('index')}}" class="brand-logo center red-text-color">My Cookbook</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons red-text-color">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="yellow-text-color" href="{{url_for('add_recipe')}}">New Recipe</a></li>
            </ul>
            <ul class="left hide-on-med-and-down">
                <li><a class="yellow-text-color" href="{{url_for('index')}}">Home</a></li>
            </ul>
            </div>
        </nav>
        <!-- Mobile side-navigation -->
        <ul class="sidenav lime lighten-5" id="mobile-demo">
            <li><a class="red-text-color" href="{{url_for('search_categories', get_category_name = 'Chicken', page=1)}}">Chicken</a></li>
            <li><a class="red-text-color" href="{{url_for('search_categories', get_category_name = 'Beef', page=1)}}">Beef</a></li>
            <li><a class="red-text-color" href="{{url_for('search_categories', get_category_name = 'Lamb', page=1)}}">Lamb</a></li>
            <li><a class="red-text-color" href="{{url_for('search_categories', get_category_name = 'Fish', page=1)}}">Fish</a></li>
            <li><a class="red-text-color" href="{{url_for('search_categories', get_category_name = 'Pasta', page=1)}}">Pasta</a></li>
            <li><a class="red-text-color" href="{{url_for('search_categories', get_category_name = 'Vegetables', page=1)}}">Vegetables</a></li>
            <li class="divider"></li>
            <li><a class="lime-text text-darken-3" href="{{url_for('add_recipe')}}">Add Recipe</a></li>
        </ul>
    </header>

    <div class="container">
        <!-- Searchbar -->
        <div class="searchbar">
            <form method="post" action="{{url_for('keyword_result', page=1)}}" class="search">
                <input type="text" id="keyword" class="searchText" name="keyword" placeholder="Explore the Recipes...">
                <button type="submit" class="searchButton">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <!-- Categories -->
        <div class="categories lime lighten-4">
            <div class="row categories-title-wrapper">
                <div class="col border-bottom"></div>
                <div class="col category-title lime-text text-darken-3">Categories</div>
                <div class="col border-bottom"></div>
            </div>
            <div class="row categories-wrapper">
                <a href="{{url_for('search_categories', get_category_name = 'Chicken', page=1)}}" class="col category-items">
                    <!-- Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>-->
                    <img src="{{url_for('static', filename='img/chicken.svg')}}" alt="chicken">
                    <h5 class="lime-text text-darken-4">Chicken</h5>
                </a>
                <a href="{{url_for('search_categories', get_category_name = 'Beef', page=1)}}" class="col category-items">
                    <!--<div>Icons made by <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
                    <img src="{{url_for('static', filename='img/chop.svg')}}" alt="beef">
                    <h5 class="lime-text text-darken-4">Beef</h5>
                </a>
                <a href="{{url_for('search_categories', get_category_name = 'Lamb', page=1)}}" class="col category-items">
                    <!--<div>Icons made by <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
                    <img src="{{url_for('static', filename='img/proteins.svg')}}" alt="lamb">
                    <h5 class="lime-text text-darken-4">Lamb</h5>
                </a>
                <a href="{{url_for('search_categories', get_category_name = 'Fish', page=1)}}" class="col category-items">
                    <!--<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
                    <img src="{{url_for('static', filename='img/animal.svg')}}" alt="fish">
                    <h5 class="lime-text text-darken-4">Fish</h5>
                </a>
                <a href="{{url_for('search_categories', get_category_name = 'Pasta', page=1)}}" class="col category-items">
                    <!--Icons made by <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>-->
                    <img src="{{url_for('static', filename='img/food-and-restaurant.svg')}}" alt="vegetables">
                    <h5 class="lime-text text-darken-4">Pasta</h5>
                </a>
                 <a href="{{url_for('search_categories', get_category_name = 'Vegetables', page=1)}}" class="col category-items">
                    <!--<div>Icons made by <a href="https://www.flaticon.com/authors/surang" title="surang">surang</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
                    <img src="{{url_for('static', filename='img/food.svg')}}" alt="paste">
                    <h5 class="lime-text text-darken-4">Vegetables</h5>
                </a>
            </div>
        </div>

        
    {% block content %}
    {% endblock %}
    </div>

    <!-- Footer area fixed -->
    <footer class="lime darken-3">
        <div class="row">
            <div class="col s12 m6">
                <p class="footer-text lime-text text-lighten-4">My Cookbook is a  Website where you can store your own favourite recipes.
                 Whenever you fancy to cook something different just go over your best recipes for ideas.</p>
            </div>
            <div class="col s12 m6">
                <h4 class="center text-bold red-text-color">Visit My Cookbook on:</h4>
                <div class="center social-icons">
                    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square lime-text text-lighten-4"></i></a>
                    <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram lime-text text-lighten-4"></i></a>
                    <a href="https://twitter.com/explore" target="_blank"><i class="fab fa-twitter-square lime-text text-lighten-4"></i></a>
                    <a href="https://www.pinterest.co.uk/" target="_blank"><i class="fab fa-pinterest-square lime-text text-lighten-4"></i></a>
                </div>
            </div>
            <div class="col s12">
                <p class="copyright center-align red-text-color">&copy; Copyright 2020 | Gabriela Di Salvatore-Bosshard</p>
            </div>
        </div>
    </footer>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.sidenav').sidenav();
             $('select').formSelect();
        })

    </script>
</body>
</html>