{% extends 'base.html' %}

{% block title %}
    All Recipes
{% endblock title%}

{% block content %}
   
    <div class="row">
        {% for recipe in recipe_all %}
        <div class="col s12 m6 l4">
            <a href="{{url_for('get_recipe', recipe_id=recipe._id)}}">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="{{recipe.recipe_img}}" alt="food">
                    </div>
                    <div class="card-title lime-text text-darken-4">{{recipe.recipe_name}}</div>
                    <div class="card-content">
                        <div class="card-times">
                            <div class="time">
                                <i class="fas fa-clock"></i>
                                <div class="time">{{recipe.recipe_time}}</div>                
                            </div>
                            <div class="level">
                                <img class="img-hat" src="{{url_for('static', filename='img/hat.png')}}" alt="hat">
                                <div class="level">{{recipe.recipe_level}}</div>                
                            </div>
                        </div>
                        
                        <div class="card-allergens">
                        {% for item in recipe.allergen_free_label %}
                            {% if item == 'Gluten-free' %}
                            <div class="card-allergens-item">
                                <img src="{{url_for('static', filename='img/gluten-free.png')}}" alt="image gluten-free">
                                <div class="gluten-free">{{item}}</div>
                            </div>
                            {% elif item == 'Lactose-free' %}
                            <div class="card-allergens-item">
                                <img src="{{url_for('static', filename='img/diet.png')}}" alt="image lactose-free">
                                <div class="gluten-free">{{item}}</div>
                            </div>
                            {% elif item == 'Vegetarian'%}
                            <div class="card-allergens-item">
                                <img src="{{url_for('static', filename='img/vegetarian.png')}}" alt="image vegetarian">
                                <div class="gluten-free">{{item}}</div>
                            </div>
                            {% elif item == 'No-pork' %}
                            <div class="card-allergens-item">
                                <img src="{{url_for('static', filename='img/pork.png')}}" alt="image no-pork">
                                <div class="gluten-free">{{item}}</div>
                            </div>         
                            {% endif %}
                        {% endfor %}
                        </div>
                    
                    </div>
                </div>
            </a>
        </div><!-- /.card-->
        {% endfor %}
    </div>


   <div class="row s12 pagination">
        <div class="col s4 m4 l4">
            <a {% if page|int > 1 %} href="{{url_for('index', page=page|int -1)}}" {% endif %}><i class="material-icons">chevron_left</i> Prev </a>
        </div>
        <div class="col s4 m4 l4 center" ><span>Your on page {{page}} of {{recipe_pages_total}}</span></div>
        <div class="col s4 m4 l4 right-align">   
            <a {% if page|int != recipe_pages_total|int %} href="{{url_for('index', page=page|int +1)}}" {% endif %}> Next <i class="material-icons">chevron_right</i></a>    
        </div>
       
    </div>
    

{% endblock %}